<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Calendario</h4>
                <p class="card-category">Premi una casella per prenotare le tue ripetizioni</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="calendar" class="table text-center">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>Luned&igrave;</th>
                                <th>Marted&igrave;</th>
                                <th>Mercoled&igrave;</th>
                                <th>Gioved&igrave;</th>
                                <th>Venerd&igrave;</th>
                            </tr>
                        </thead>
                        <tbody id="bodyCalendar">
                        <tr id="1">
                            <th>15-16</th>
                            <td data-schedule="0"></td>
                            <td data-schedule="4"></td>
                            <td data-schedule="8"></td>
                            <td data-schedule="12"></td>
                            <td data-schedule="16"></td>
                        </tr>
                        <tr id="2">
                            <th>16-17</th>
                            <td data-schedule="1"></td>
                            <td data-schedule="5"></td>
                            <td data-schedule="9"></td>
                            <td data-schedule="13"></td>
                            <td data-schedule="17"></td>
                        </tr>
                        <tr id="3">
                            <th>17-18</th>
                            <td data-schedule="2"></td>
                            <td data-schedule="6"></td>
                            <td data-schedule="10"></td>
                            <td data-schedule="14"></td>
                            <td data-schedule="18"></td>
                        </tr>
                        <tr id="4">
                            <th>18-19</th>
                            <td data-schedule="3"></td>
                            <td data-schedule="7"></td>
                            <td data-schedule="11"></td>
                            <td data-schedule="15"></td>
                            <td data-schedule="19"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center" id="schedule">

                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="scheduleTable" class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>Materia</th>
                                <th>Cognome Docente</th>
                                <th>Nome Docente</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodySchedule">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/calendar.js"></script>
</div>