<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Corsi Attivi</h4>
                <p class="card-category">Lista contente tutti i corsi attivi</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="coursesTable" class="table">
                        <thead class=" text-success">
                        <th>Materia</th>
                        <th>Cognome Docente</th>
                        <th>Nome Docente</th>
                        <th>Lezioni Disponibili</th>
                        </thead>
                        <tbody id="bodyCoursesTable">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center" id="scheduleTitle">

                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="scheduleTable" class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Giorno</th>
                                <th>Ora</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodySchedule">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/courses.js"></script>