<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title ">Storico Prenotazioni</h4>
                <p class="card-category">Lista dettagliata delle tue prenotazioni</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="historyTable" class="table">
                        <thead class=" text-success">
                            <th>Materia</th>
                            <th>Cognome Docente</th>
                            <th>Nome Docente</th>
                            <th>Giorno ed ora</th>
                            <th>Stato</th>
                        </thead>
                        <tbody id="bodyHistoryTable">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/history.js"></script>