<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-primary">
                <h2 class="card-title">Homepage</h2>
                <p class="card-category">Piattaforma per prenotare le tue ripetizioni</p>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="container">
                        <h3 class="pb-3 pt-2 border-bottom mb-5">Prenota le tue ripetizioni</h3>
                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold"><i class="fa fa-search"></i></div>
                            </div>
                            <div class="col-6">
                                <h4>Cerca</h4>
                                <p>All'interno della piattaforma dei <a href="#corsi">Corsi</a> quelli che potrebbero interessarti</p>
                            </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timeline">
                            <div class="col-2">
                                <div class="corner top-right"></div>
                            </div>
                            <div class="col-8">
                                <hr/>
                            </div>
                            <div class="col-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                        <!--second section-->
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                            <div class="col-6 text-right">
                                <h4>Prenota</h4>
                                <p>La tua ripetizione, con la libert&aacute; di annullarla quando lo ritieni pi&uacute; opportuno</p>
                            </div>
                            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold"><i class="fa fa-calendar-check-o"></i></div>
                            </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timeline">
                            <div class="col-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-8">
                                <hr/>
                            </div>
                            <div class="col-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                        <!--third section-->
                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold"><i class="fa fa-graduation-cap"></i></div>
                            </div>
                            <div class="col-6">
                                <h4>Ricevi</h4>
                                <p>Le tue ripetizioni e preparati a passare gli esami</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>