<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title ">Tabella Utenti</h4>
                <p class="card-category">Lista con tutti i dettagli sugli utenti iscritti.</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="adminTableUser"class="table">
                        <thead class=" text-success">
                        <th>
                            ID
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Admin
                        </th>
                        <th>
                            Active
                        </th>
                        </thead>
                        <tbody id="bodyAdminTableUser">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/admin/user.js"></script>