<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Tabella Lezioni</h4>
                <p class="card-category">Lista le lezioni di tutti gli studenti</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="adminTableLesson"class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Materia</th>
                                <th>Cognome Docente</th>
                                <th>Nome Docente</th>
                                <th>Orario</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="bodyAdminTableLesson">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/admin/lesson.js"></script>
